<br>
<div class="container">
  <h1 style="text-align: center">Update Form</h1>

    <div class="form-group">
      <label for="name">Name : </label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="book.title">
    </div>
    <div class="form-group">
      <label for="name">Email : </label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="book.author">
    </div>
    <div class="form-group">
      <label for="name">Phone : </label>
      <textarea rows="9" cols="70" type="text" class="form-control" id="phone" name="phone" [(ngModel)]="book.description" required></textarea>

    </div>
</div>
