<div class="container">
  <hr>
  <h1 style="text-align: center">Create Form</h1>
  <form #employeeForm="ngForm" (submit)="onSubmit(employeeForm)">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" #name="ngModel" class="form-control" id="name" name="name" [(ngModel)]="book.title" required>
      <td><p *ngIf="name?.errors?.required">Mời nhập đầy đủ thông tin</p></td>

    </div>
    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" #author="ngModel" class="form-control" id="email" name="email" [(ngModel)]="book.author" required>

      <td><p *ngIf="author?.errors?.required">Mời nhập đầy đủ thông tin</p></td>

    </div>
    <div class="form-group">
      <label for="name">Desc</label>
      <textarea #desv="ngModel" rows="9" cols="70" type="text" class="form-control" id="phone" name="phone" [(ngModel)]="book.description" required></textarea>
      <td><p *ngIf="desv?.errors?.required">Mời nhập đầy đủ thông tin</p></td>

    </div>

    <button class="btn btn-success">Create</button>
  </form>
</div>
